<div class="container">
  <div class="row">
    <div class="col">
      <p>We are <strong>Session-Sync!!</strong></p>
      <p>
        <h4>
          Session-Syncは予定と予定を結びつけるアプリケーションです。
        </h4>
      </p>
    </div>
  </div>
</div>